@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

body{
    background:orange

}

#Principal{
    padding: 20px;
    margin: 20px;
    text-align: center;
    size: 19pt;
    font-family: "Zen Loop";
    font-size: 30pt;
    color: #dd6605;
}


