@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

body{
    background-image: url(https://images.pexels.com/photos/4916562/pexels-photo-4916562.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    margin: 5% auto;
    border-radius: 60px;
    box-shadow: 12px 12px 20px rgba(0,0,0,1);
}

#Principal{
    padding: 20px;
    margin: 20px;
    text-align: center;
    size: 19pt;
    font-family: "Zen Loop";
    font-size: 30pt;
    color: #dd6605;
}

.box{
    padding: 20px;
    margin: 20px;
    text-align: center;
    size: 19pt;
    font-family: "Zen Loop";
    font-size: 30pt;
    color:#dd6605
}